body{
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/seattlesouthside/Transportation_Jet_Flying_Into_Sunset_AdobeStock_77372614_3319cb2e-ecd0-4191-b6ea-44a4386b3f6b.jpg);
    background-color: cornflowerblue;
    padding:0;
    margin :0;
    height: 200vh;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://wallpaperaccess.com/full/1191990.jpg);
    background-size: cover;
    height: 100vh;
}
ul{
    float: right;
    list-style: none;
    margin: 15px;
}
ul li.main{
    max-width: 1200px;
    margin: auto;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float:left;
    width: 150px;
    height: auto;
}
.title{
    position: absolute;
    top: 40%;
    left: 33%;
}
.title h1{
    color: white;
    font-size: 50px;
}
.button{
    position: absolute;
    top: 58%;
    left: 37%;
}
.btn{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
.card1{
    margin-top: 30px;
width: 200px;
border: 1px solid transparent;
border-radius: 20px;
color: black;
background-color: aqua;
}
.card1:hover{
    transition: 1s;
background-color: blue;
}
.card2{
margin-top: 30px;
width: 200px;
border: 1px solid transparent;
border-radius: 20px;
background-color:chocolate;
}
.card2:hover{
    transition: 1s;
    background-color: orangered;
}
.card3{
    margin-top: 30px;
width: 200px;
border: 1px solid transparent;
border-radius: 20px;
background-color:darkgoldenrod;
}
.card3:hover{
    transition: 1s;
background-color: yellow;
}