
.logo{
    margin-top: 100px;
    margin-left: 450px;
    
}
.search-input{
    width: 500px;
    display: block;
margin-top: auto;
margin-right: auto;
margin-left: auto;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
border:2px solid #dfe1e5;
border-radius:50px;
}
.btn{
    margin-top: 20px;
    margin-left:10px;
    border:none;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:16px;
    padding-right:16px;
    border-radius:10px;
}
.btn-wrapper{
margin-left: 500px;
}